<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QLpizza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLpizza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <QLpizza.Properties.Settings>
            <setting name="TenDangNhap" serializeAs="String">
                <value />
            </setting>
            <setting name="MatKhau" serializeAs="String">
                <value />
            </setting>
            <setting name="NguonDuLieu" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="CheDoKetNoi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TenDangNhapSql" serializeAs="String">
                <value />
            </setting>
            <setting name="MatKhauSql" serializeAs="String">
                <value />
            </setting>
        </QLpizza.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <QLpizza.Properties.Settings>
            <setting name="PrimaryBackColor" serializeAs="String">
                <value>255, 145, 76</value>
            </setting>
            <setting name="PrimaryDarkBackColor" serializeAs="String">
                <value>239, 108, 0</value>
            </setting>
            <setting name="PrimaryLightBackColor" serializeAs="String">
                <value>255, 183, 77</value>
            </setting>
            <setting name="AccentBackColor" serializeAs="String">
                <value>3, 169, 244</value>
            </setting>
            <setting name="SurfaceColor" serializeAs="String">
                <value>29, 27, 32</value>
            </setting>
            <setting name="AccentForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InputBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="SurfaceVariantColor" serializeAs="String">
                <value>73, 69, 79</value>
            </setting>
            <setting name="CardBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OutlineColor" serializeAs="String">
                <value>121, 116, 126</value>
            </setting>
            <setting name="InputErrorForeColor" serializeAs="String">
                <value>179, 38, 30</value>
            </setting>
            <setting name="WebApp" serializeAs="String">
                <value>https://script.google.com/macros/s/AKfycbyJ_jGzaj_GwLDSav9Tq4cSRe0GFIyu6fQO4y5iHMXt_3UUbYMf6x4dGOHWroJgfxQh/exec</value>
            </setting>
            <setting name="PizzaPath" serializeAs="String">
                <value>..\\..\\static\\pizza</value>
            </setting>
        </QLpizza.Properties.Settings>
    </applicationSettings>
</configuration>
